<div class="cont_principal">
    <div class="cont_footer">

        <div class="cont_codigo_vestimenta">
            <div class="codigo_header tilt-neon text-center mt-3 mb-3 p-2">
                <span>CÓDIGO DE VESTIMENTA: FORMAL VERANO </span>
            </div>
            <div class="codigo_formal_hombre">
                <img style="width: 40px;" src="../../../assets/traje.png" alt="">
            </div>
            <div class="codigo_formal_mujer">
                <img style="width: 40px;" src="../../../assets/vestido-largo-de-mujer.png" alt="">
            </div>
        </div>

        <div class="cont_lugar">
            <div class="ceremonia">
                <span style="font-weight: bolder;">Ceremonia</span>
                <span>5:00 pm</span>
                <span class="text-center" >Marine WaterFront  </span>
                <span>Terraza Trattoria</span>
            </div>
            <div class="recepcion">
                <span style="font-weight: bolder;">Recepción</span>
                <span>6:00 pm</span>
                <span class="text-center">Marine WaterFront</span>
                <span>Salon Galeón</span>
            </div>
        </div>

        <div class="cont_foto">

        </div>

        <div class="cont_ubicacion">

            <div class="frase1 text-center tilt-neon">Debido al amor 
                que nos profesamos, y con la bendición de nuestros 
                padres, nos complace invitarlos a nuestra boda que 
                tendrá lugar en:
            </div>

            <google-map 
            height="100%"
            width="100%"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)" />
            
        </div>





    </div>
</div>  