<div class="cont_principal">
    <div class="cont_invitacion">

        <div class="foto"></div>

        <div class="frase1 text-center tilt-neon">
            "Nos habíamos estado buscando desde la primera vez que escuchamos un poema de 
            amor"
        </div>

        <div class="nombres satisfy-regular">
            <span>Alondra</span>
            <span>&</span>
            <span>Juan Manuel</span>
        </div>

        <div class="cont_fecha tilt-neon">
            <div class="dia"></div>
            <div class="fecha">
                <div class="mes">JULIO</div>
                <div class="fecha_dia">13</div>
                <div class="año">2024</div>
            </div>
            <div class="hora"></div>
        </div>

        <div class="cont_lugar">
            <div class="ceremonia"></div>
            <div class="recepcion"></div>
        </div>

    </div>
</div>