<app-home></app-home>

<div class="cont_principal">

    <div class="cont_formulario">

        <div class="frase1 text-center tilt-neon">
            <p class="frase1-p1" >
                Será muy importante que nos acompañen en los primeros pasos de nuestra
                nueva familia.
            </p>
            <p class="frase1-p2" >Agradecemos <span style="font-weight: bolder;">confirmen su asistencia</span> 
                a esta pequeña celebración  <span style="font-weight: bolder;" >antes
                    del 15 junio del 2024</span>  a los números: 612 200 5872 ó 241 178 0340
            </p>

        </div>

        <div class="lista_invitados">
            <img src="../../../assets/foto11.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <ul class="list-group">
                
                    @for (item of invitados; track $index) {
                        <li class="list-group-item"> {{ item.name }} </li>
                    }
                </ul>
            </div>
        </div>

        <div class="cont_mesa_de_regalos">
            <a href="https://meli.uniko.co/E2828/boda/alondra_garciayjuan_manuel_gutierrez" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="mesa_regalos_obsc">

                <div class="mesa_header satisfy-regular">
                    <span> Mesa de Regalos 1 </span> 
                </div>

            </a>
        </div>

        <div class="cont_mesa_de_regalos mb-4">
            <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51425782" 
                target="_blank" 
                rel="noopener noreferrer" 
                class="mesa_regalos_obsc">

                <div class="mesa_header satisfy-regular">
                    <span> Mesa de Regalos 2 </span> 
                </div>

            </a>
        </div>
        

    </div>

</div>

<app-footer></app-footer>

